<h2>Create New Figure</h2>

<!-- add content here -->
<form method="POST" action="/figures">
    <label>Name:</label>
    <input id="figure_name" type="text" name="figure[name]"/><br>

    <h4>Titles</h4>
    <% @titles.each do |title| %>
    <label><%= title.name %></label>
    <input id="title_<%=title.id%>" type="checkbox" name="figure[title_ids][]" value="<%= title.id %>" /><br>
    <% end %>

    <h4>Create New Title:</h4>
    <input type="text" name="title[name]" /><br>

    <h4>Landmarks</h4>
    <% @landmarks.each do |landmark| %>
    <label><%= landmark.name %></label>
    <input type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>"><br>
    <% end %>

    <h4>Create New Landmark:</h4>
    <label>Name:</label>
    <input type="text" name="landmark[name]" />
    <label>Year:</label>
    <input type="text" name="landmark[year_completed]" /><br>
    <input type="submit" value="Create New Figure"/>
</form>
<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>



